<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shipinfo.admin.modules.admin.mapper.MediaMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, file_name AS fileName, file_des AS fileDes, oss_url AS ossUrl, shipinfo_id AS shipinfoId, create_by AS createBy, create_date AS createDate, update_by AS updateBy, update_date AS updateDate, del_flag AS delFlag, status
    </sql>

</mapper>
